.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .item .des{
    text-align: center;
  }

  .simpledetails{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 20px;
  }
  .item span{
    color: #020800;
    font-weight: bold;
  }
  .item .price{
    background-color: #afafff;
    font-weight: bold;
  }
  .agent-inf{
    margin-top: 20px;
  }
  .agent-inf .photo{
    width: 100px;
    height: 100px;
  }
  .agent-inf .photo img{
    border-radius: 50px;
  }

  