.Units{
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 100px);
    left: 100px;
    background-color: white;
    z-index: 99999;
}
.Units .explane{
    position: relative;
    border: solid #f8f9fa;
    border-width: 0.2rem 0 0;
    padding: 0;
    overflow: scroll;
}
.Units .box{
    border: 1px solid #00000075;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.Units .box .fa-solid{
    font-size: 2rem;
    color: #008c21;
 }
.Units .box .p{
    font-size: 2rem;
    font-weight: bolder;
}
.Units .detils{
    padding: 0;
}
.Units .detils ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
}
.Units .img{
    width: 150px;
    height: 100px;
}
@media screen and (max-width: 480px) {
    .Units {
      position: absolute;
      left: 0;
      width: 100%;
      top: 100px;
    }
  }